<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva Sección</span>
    <form (ngSubmit)="onGuardarSection(formNew)" #formNew="ngForm" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <input [(ngModel)]="section.idSection" #idSection="ngModel" type="text" name="idSection" id="idSection" minlength="2"
            maxlength="100" required/>
          <label class="active">Sección</label>
          <div *ngIf="idSection.touched && !idSection.valid">
            <div *ngIf="idSection.errors.required">Sección es requerido</div>
            <div *ngIf="idSection.errors.minlength">Sección debe ser de al menos {{idSection.errors.minlength.requiredLength}} caracteres.</div>
          </div>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="section.idTeacher" #idTeacher="ngModel" name="idTeacher" id="idTeacher" class="browser-default" required>
            <option value="" disabled>Seleccione el Profesor</option>
            <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
          </select>
          <label class="active">Profesor Encargado</label>
          <div *ngIf="idTeacher.touched && !idTeacher.valid">
            <div *ngIf="idTeacher.errors.required">Profesor Encargado es requerido</div>
          </div>
        </div>
        <button type="submit" class="btn waves-effect waves-light orange right">Guardar
          <i class="material-icons">add_circle</i>
        </button>
      </div>
    </form>
  </div>
</div>