<div *ngIf="studentSections?.length > 0;else noStudentSections">
    <ul *ngFor="let studentSection of studentSections" class="collection">
      <li class="collection-item">
        <a href="" class="secondary-content">
          <i *ngIf="editState == false" (click)="editStudentSection($event, studentSection)" class="material-icons">mode_edit</i>
          <i *ngIf="editState && studentSectionToEdit.idSection == studentSection.idSection" (click)="clearState($event)" class="material-icons">close</i>
        </a>
        <h5>
          <strong>Seccion: {{getSectionName(studentSection.idSection)}}</strong>
        </h5>
        <blockquote>Estudiante: {{getPersonName(studentSection.idStudent)}}</blockquote>
        <hr>
        <div *ngIf="editState && studentSectionToEdit.idSection == studentSection.idSection" class="container-updatestudentsection">
          <!-- TODO: form -->
          <form (ngSubmit)="onUdpdateStudentSection(studentSection)" class="col s6">
            <div class="row">
              <div class="input-field col s6">
                <select [(ngModel)]="studentSection.idSection" #idSection="ngModel" name="idSection" id="idSection" class="browser-default" required>
                  <option value="" disabled>Seleccione la Sección</option>
                  <option *ngFor="let section of sections" [value]="section.id">{{ section.idSection }}</option>
                </select>
                <label class="active">Sección</label>
                <div *ngIf="idSection.touched && !idSection.valid">
                  <div *ngIf="idSection.errors.required">Sección es requerida</div>
                </div>
              </div>
              <div class="input-field col s6">
                <select [(ngModel)]="studentSection.idStudent" #idStudent="ngModel" name="idStudent" id="idStudent" class="browser-default" required>
                  <option value="" disabled>Seleccione el Estudiante</option>
                  <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
                </select>
                <label class="active">Estudiante a asignar</label>
                <div *ngIf="idStudent.touched && !idStudent.valid">
                  <div *ngIf="idStudent.errors.required">Estudiante a asignar es requerido</div>
                </div>
              </div>
            </div>
            <div>
              <button (click)="deleteStudentSection($event, studentSection)" class="btn red right">Borrar
                <i class="material-icons right">delete_forever</i>
              </button>
              <button type="submit" class="btn orange">Actualizar
                <i class="material-icons right">save</i>
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noStudentSection>
    <hr>
    <h5>NO EXISTEN ESTUDIANTES EN SECCIONES</h5>
  </ng-template>
  <app-student-section-add>