<nav>
  <div class="nav-wrapper black">
    <a href="#" class="brand-logo">Escuela</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a routerLink="events">Eventos</a></li>
      <li><a routerLink="persons">Personas</a></li>
      <li><a routerLink="relations">Relaciones</a></li>
      <li><a routerLink="sections">Secciones</a></li>
      <li><a routerLink="student-sections">Secciones por Estudiante</a></li>
      <li><a routerLink="users">Usuarios</a></li>
      <li><a routerLink="user-types">Tipos de Usuarios</a></li>
    </ul>
  </div>
</nav>