<div class="card">
    <div class="card-content">
      <span class="card-title">Nuevo Usuario</span>
      <form (ngSubmit)="onGuardarUserType(formNew)" #formNew="ngForm" class="col s6">
          <div class="row">
              <div class="input-field col s6">
                <input [(ngModel)]="userType.name" #name="ngModel" type="text" name="name" id="name" minlength="2"
                  maxlength="100" required/>
                <label class="active">Tipo Usuario</label>
                <div *ngIf="name.touched && !name.valid">
                  <div *ngIf="name.errors.required">Tipo Usuario es requerido</div>
                  <div *ngIf="name.errors.minlength">Tipo Usuario debe ser de al menos {{name.errors.minlength.requiredLength}} caracteres.</div>
                </div>
              </div>
  
          <button type="submit" class="btn waves-effect waves-light orange right">Guardar
              <i class="material-icons">add_circle</i>
            </button>
          </div>
        </form>
      </div>
    </div>