<div *ngIf="sections?.length > 0;else noSections">
  <h2>Secciones</h2>
  <ul *ngFor="let section of sections" class="collection">
    <li class="collection-item">
      <a href="" class="secondary-content">
        <i *ngIf="editState == false" (click)="editSection($event, section)" class="material-icons">mode_edit</i>
        <i *ngIf="editState && sectionToEdit.idSection == section.idSection" (click)="clearState($event)" class="material-icons">close</i>
      </a>
      <h5>
        <strong>{{section.idSection}}</strong>
      </h5>
      <blockquote>Profesor: {{getPersonName(section.idTeacher)}}</blockquote>
      <hr>
      <div *ngIf="editState && sectionToEdit.idSection == section.idSection" class="container-updatesection">
        <!-- TODO: form -->
        <form (ngSubmit)="onUdpdateSection(section)" class="col s6">
          <div class="row">
            <div class="input-field col s6">
              <input [(ngModel)]="section.idSection" #idSection="ngModel" type="text" name="idSection" id="idSection" minlength="2"
                maxlength="100" required/>
              <label class="active">Sección</label>
              <div *ngIf="idSection.touched && !idSection.valid">
                <div *ngIf="idSection.errors.required">Sección es requerido</div>
                <div *ngIf="idSection.errors.minlength">Sección debe ser de al menos {{idSection.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <select [(ngModel)]="section.idTeacher" #idTeacher="ngModel" name="idTeacher" id="idTeacher" class="browser-default" required>
                <option value="" disabled>Seleccione el Profesor</option>
                <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
              </select>
              <label class="active">Profesor Encargado</label>
              <div *ngIf="idTeacher.touched && !idTeacher.valid">
                <div *ngIf="idTeacher.errors.required">Profesor Encargado es requerido</div>
              </div>
            </div>
          </div>
          <div class="row">
            <button (click)="deleteSection($event, section)" class="btn red right">Borrar
              <i class="material-icons right">delete_forever</i>
            </button>
            <button type="submit" class="btn orange">Actualizar
              <i class="material-icons right">save</i>
            </button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
<ng-template #noSection>
  <hr>
  <h5>NO EXISTEN SECCIONES</h5>
</ng-template>
<app-section-add>