<div class="card">
    <div class="card-content">
      <span class="card-title">Nueva Estudiante en Sección</span>
      <form (ngSubmit)="onGuardarStudentSection(formNew)" #formNew="ngForm" class="col s6">
        <div class="row">
          <div class="input-field col s6">
            <select [(ngModel)]="studentSection.idSection" #idSection="ngModel" name="idSection" id="idSection" class="browser-default" required>
              <option value="" disabled>Seleccione la Sección</option>
              <option *ngFor="let section of sections" [value]="section.id">{{ section.idSection }}</option>
            </select>
            <label class="active">Sección</label>
            <div *ngIf="idSection.touched && !idSection.valid">
              <div *ngIf="idSection.errors.required">Sección es requerida</div>
            </div>
          </div>
          <div class="input-field col s6">
            <select [(ngModel)]="studentSection.idStudent" #idStudent="ngModel" name="idStudent" id="idStudent" class="browser-default" required>
              <option value="" disabled>Seleccione el Estudiante</option>
              <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
            </select>
            <label class="active">Estudiante a asignar</label>
            <div *ngIf="idStudent.touched && !idStudent.valid">
              <div *ngIf="idStudent.errors.required">Estudiante a asignar es requerido</div>
            </div>
          </div>
          <button type="submit" class="btn waves-effect waves-light orange right">Guardar
            <i class="material-icons">add_circle</i>
          </button>
        </div>
      </form>
    </div>
  </div>