<div class="card">
  <div class="card-content">
    <span class="card-title">Nueva Relación</span>
    <form (ngSubmit)="onGuardarRelation(formNew)" #formNew="ngForm" class="col s6">
      <div class="row">
        <div class="input-field col s6">
          <select [(ngModel)]="relation.studentIdentity" #studentIdentity="ngModel" name="studentIdentity" id="studentIdentity" class="browser-default" required>
            <option value="" disabled>Seleccione el Estudiante</option>
            <option *ngFor="let person of persons | personsByType: '4'" [value]="person.id">{{ person.name }}</option>
          </select>
          <label class="active">Estudiante</label>
          <div *ngIf="studentIdentity.touched && !studentIdentity.valid">
            <div *ngIf="studentIdentity.errors.required">Estudiante es requerido</div>
          </div>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="relation.parentIdentity" #parentIdentity="ngModel" name="parentIdentity" id="parentIdentity" class="browser-default" required>
            <option value="" disabled>Seleccione el Encargado</option>
            <option *ngFor="let person of persons | personsByType: '3'" [value]="person.id">{{ person.name }}</option>
          </select>
          <label class="active">Encargado</label>
          <div *ngIf="parentIdentity.touched && !parentIdentity.valid">
            <div *ngIf="parentIdentity.errors.required">Encargado es requerido</div>
          </div>
        </div>
        <div class="input-field col s6">
          <select [(ngModel)]="relation.relationship" #relationship="ngModel" name="relationship" id="relationship" class="browser-default" required>
            <option value="" disabled>Seleccione la relación</option>
            <option *ngFor="let rel of showRelations" [value]="rel">{{ rel }}</option>
          </select>
          <label class="active">Relación</label>
          <div *ngIf="relationship.touched && !relationship.valid">
            <div *ngIf="relationship.errors.required">Relación es requerida</div>
          </div>
        </div>

        <button type="submit" class="btn waves-effect waves-light orange right">Guardar
          <i class="material-icons">add_circle</i>
        </button>
      </div>
    </form>
  </div>
</div>