<div class="row center">
  <div class="col s8">
    <h2>
      Calendario de Eventos
    </h2>
  </div>
  <div class="section-filter input-field col s4 mt-4" style="margin-top: 2.5em;">
    <select [(ngModel)]="idSectionSelected" (change)="filterBySection($event.target.value)" #idSection="ngModel" name="idSection" id="idSection" class="browser-default">
      <option *ngFor="let section of sections" [value]="section.id">{{ section.idSection }}</option>
    </select>
    <label class="active green-text">Sección</label>
  </div>
</div>
<div class="row center">
  <div class="col s4">
    <div class="btn-group">
      <div
        class="btn-small"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        <<
      </div>
      <div
        class="btn-small"
        mwlCalendarToday
        [(viewDate)]="viewDate">
        Hoy
      </div>
      <div
        class="btn-small"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="activeDayIsOpen = false">
        >>
      </div>
    </div>
  </div>
  <div class="col s4">
    <h5>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h5>
  </div>
  <div class="col s4">
    <div class="btn-group">
      <div
        class="btn-small"
        (click)="view = CalendarView.Month"
        [class.active]="view === CalendarView.Month">
        Mes
      </div>
      <div
        class="btn-small"
        (click)="view = CalendarView.Week"
        [class.active]="view === CalendarView.Week">
        Semana
      </div>
      <div
        class="btn-small"
        (click)="view = CalendarView.Day"
        [class.active]="view === CalendarView.Day">
        Día
      </div>
    </div>
  </div>
</div>
<br>
<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="CalendarView.Week"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="CalendarView.Day"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)">
  </mwl-calendar-day-view>
</div>

<br><br><br>

<h3 *ngIf="events.length > 0">
  Editar Eventos
  <!-- <button
    class="btn btn-primary pull-right"
    (click)="addEvent()">
    Agregar nuevo
  </button> -->
  <div class="clearfix"></div>
</h3>

<app-events [sectionFilter]="idSectionSelected">