<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  Detalles:
  <!-- <ul>
    <li>
      <span>&#10003;</span> {{event.description}}
    </li>
    <li>
      <span>&#10003;</span> <strong>Lugar:</strong>{{event.location}}</span>
    </li>
    <li>
      <span>&#10003;</span> <strong>Categoría:</strong>{{event.category}}</span>
    </li>
  </ul> -->
  <blockquote>{{event.description}}</blockquote>
  <span class="my_tag teal lighten-5">
    <strong>Lugar:</strong>{{event.location}}
  </span>
  <span class="my_tag teal lighten-5">
    <strong>Categoría:</strong>{{event.category}}
  </span>
  <span class="my_tag teal lighten-5">
    <strong>Fecha:</strong>{{event.date}}
  </span>
  <span class="my_tag teal lighten-5">
    <strong>Seccion:</strong> {{getSectionName(event.idSection)}}
  </span>
</div>