<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  Detalles:
  <blockquote>{{data.description}}</blockquote>
  <span class="my_tag teal lighten-5">
    <strong>Lugar:</strong> {{data.location}} &nbsp;
  </span>&nbsp;
  <span class="my_tag teal lighten-5">
    <strong>Categoría:</strong> {{data.category}} &nbsp;
  </span>&nbsp;
  <span class="my_tag teal lighten-5">
    <strong>Fecha:</strong> {{data.date}} &nbsp;
  </span>&nbsp;
  <span class="my_tag teal lighten-5">
    <strong>Seccion:</strong> {{getSectionName(data.idSection)}} &nbsp;
  </span>
</div>