<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async) && (auth.user | async)">
    <mat-toolbar *ngIf="auth.user | async as user">{{ user.username }}</mat-toolbar>
    <mat-nav-list *ngIf="auth.user | async as user">
      <a *ngIf="activeLink(user, 'calendar')" mat-list-item routerLink="calendar">Calendario</a>
      <a *ngIf="activeLink(user, 'events')" mat-list-item routerLink="events">Eventos</a>
      <a *ngIf="activeLink(user, 'persons')" mat-list-item routerLink="persons">Personas</a>
      <a *ngIf="activeLink(user, 'myprofile')" mat-list-item routerLink="myprofile">Perfil</a>
      <a *ngIf="activeLink(user, 'relations')" mat-list-item routerLink="relations">Relaciones</a>
      <a *ngIf="activeLink(user, 'sections')" mat-list-item routerLink="sections">Secciones</a>
      <a *ngIf="activeLink(user, 'student-sections')" mat-list-item routerLink="student-sections">Secciones por Estudiante</a>
      <a *ngIf="activeLink(user, 'users')" mat-list-item routerLink="users">Usuarios</a>
      <a mat-list-item (click)="logout($event)" href="#">Salir</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img src="assets/logo_small.jpg" alt="" class="logo">
      <span>CEESA Comunicados</span>
    </mat-toolbar>
    <div class="container">
      <app-notification-message></app-notification-message>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
