<div *ngIf="userTypes?.length > 0;else noUserTypes">
    <ul *ngFor="let userType of userTypes" class="collection">
      <li class="collection-item">
        <a href="" class="secondary-content">
          <i *ngIf="editState == false" (click)="editUserType($event, userType)" class="material-icons">mode_edit</i>
          <i *ngIf="editState && userTypeToEdit.name == userType.name" (click)="clearState($event)" class="material-icons">close</i>
        </a>
        <h2>
          <strong>{{userType.name}}</strong>
        </h2>
        <br>
        <blockquote>{{userType.name}}</blockquote>
        <br>
        <span class="my_tag amber">
          <strong>Tipo Usuario:</strong>{{userType.name}}</span>
        <hr>
        <div *ngIf="editState && userTypeToEdit.name == userType.name" class="container-updateuser">
          <!-- TODO: form -->
          <form (ngSubmit)="onUdpdateUserType(userType)" class="col s6">
            <div class="row">
              <div class="input-field col s6">
                <input [(ngModel)]="userType.name" #name="ngModel" type="text" name="name" id="name" minlength="2"
                  maxlength="100" required/>
                <label class="active">Tipo Usuario</label>
                <div *ngIf="name.touched && !usertype.valid">
                  <div *ngIf="name.errors.required">Tipo Usuario es requerido</div>
                  <div *ngIf="name.errors.minlength">Tipo Usuario debe ser de al menos {{name.errors.minlength.requiredLength}} caracteres.</div>
                </div>
              </div>
  
              <button (click)="deleteUserType($userType, userType)" class="btn red right">Borrar
                <i class="material-icons right">delete_forever</i>
              </button>
              <button type="submit" class="btn orange">Actualizar
                <i class="material-icons right">save</i>
              </button>
            </div>
          </form>
        </div>
      </li>
    </ul>
  </div>
  <ng-template #noUserType>
    <hr>
    <h5>NO EXISTEN TIPOS DE USUARIOS</h5>
  </ng-template>
  <app-user-type-add>