<div *ngIf="users?.length > 0;else noUsers">
  <h2>Usuarios</h2>
  <ul *ngFor="let user of users" class="collection">
    <li class="collection-item">
      <a href="" class="secondary-content">
        <i *ngIf="editState == false" (click)="editUser($event, user)" class="material-icons">mode_edit</i>
        <i *ngIf="editState && userToEdit.id == user.id" (click)="clearState($event)" class="material-icons">close</i>
      </a>
      <h5>
        <strong>{{user.email}}</strong>
      </h5>
      <blockquote>{{getPersonName(user.idPerson)}}</blockquote>
      <span class="my_tag teal lighten-5">
        <strong>email:</strong> {{user.email}}</span>
      <hr>
      <div *ngIf="editState && userToEdit.id == user.id" class="container-updateuser">
        <!-- TODO: form -->
        <form (ngSubmit)="onUdpdateUser(user)" class="col s6">
          <div class="row">
            <div class="input-field col s6">
              <input [(ngModel)]="user.username" #username="ngModel" type="text" name="username" id="username" minlength="8"
                maxlength="20" required/>
              <label class="active">Nombre de Usuario</label>
              <div *ngIf="username.touched && !username.valid">
                <div *ngIf="username.errors.required">Usuario es requerido</div>
                <div *ngIf="username.errors.minlength">Usuario debe ser de al menos {{username.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <select [(ngModel)]="user.idPerson" #idPerson="ngModel" name="idPerson" id="idPerson" class="browser-default">
                <option value="" disabled>Seleccione la Persona</option>
                <option *ngFor="let person of persons" [value]="person.id">{{ person.name }}</option>
              </select>
              <label class="active">Persona asignada a usuario</label>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="user.email" #email="ngModel" type="text" name="email" id="email"
                minlength="8" maxlength="200" required/>
              <label class="active">Correo Electrónico</label>
              <div *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Correo es requerido</div>
                <div *ngIf="email.errors.minlength">Correo debe ser de al menos {{email.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <select [(ngModel)]="user.userType" #userType="ngModel" name="userType" id="userType" class="browser-default" required>
                <option value="" disabled>Seleccione el tipo de usuario</option>
                <option [value]="1">Administrador</option>
                <option [value]="2">Personal</option>
                <option [value]="3">Encargado</option>
              </select>
              <label class="active">Tipo de Usuario</label>
              <div *ngIf="userType.touched && !userType.valid">
                <div *ngIf="userType.errors.required">Tipo de usuario es requerido</div>
              </div>
            </div>
          </div>
          <div class="row">
            <button (click)="deleteUser($user, user)" class="btn red right">Borrar
              <i class="material-icons right">delete_forever</i>
            </button>
            <button type="submit" class="btn orange">Actualizar
              <i class="material-icons right">save</i>
            </button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
<ng-template #noUser>
  <hr>
  <h5>NO EXISTEN USUARIOS</h5>
</ng-template>