<div *ngIf="users?.length > 0;else noUsers">
  <h2>Usuarios</h2>
  <ul *ngFor="let user of users" class="collection">
    <li class="collection-item">
      <a href="" class="secondary-content">
        <i *ngIf="editState == false" (click)="editUser($event, user)" class="material-icons">mode_edit</i>
        <i *ngIf="editState && userToEdit.id == user.id" (click)="clearState($event)" class="material-icons">close</i>
      </a>
      <h5>
        <strong>{{user.email}}</strong>
      </h5>
      <blockquote>{{user.idPerson}}</blockquote>
      <span class="my_tag teal lighten-5">
        <strong>email:</strong>{{user.email}}</span>
      <hr>
      <div *ngIf="editState && userToEdit.username == user.username" class="container-updateuser">
        <!-- TODO: form -->
        <form (ngSubmit)="onUdpdateUser(user)" class="col s6">
          <div class="row">
            <div class="input-field col s6">
              <input [(ngModel)]="user.username" #username="ngModel" type="text" name="username" id="username" minlength="2"
                maxlength="100" required/>
              <label class="active">Usuario</label>
              <div *ngIf="username.touched && !username.valid">
                <div *ngIf="username.errors.required">Usuario es requerido</div>
                <div *ngIf="username.errors.minlength">Usuario debe ser de al menos {{username.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="user.idPerson" #idPerson="ngModel" type="text" name="idPerson" id="idPerson"
                minlength="09" maxlength="200" required/>
              <label class="active">Identificación</label>
              <div *ngIf="idPerson.touched && !idPerson.valid">
                <div *ngIf="idPerson.errors.required">Identificación es requerida</div>
                <div *ngIf="idPerson.errors.minlength">Identificación debe ser de al menos {{idPerson.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="user.password" #password="ngModel" type="text" name="password" id="password"
                minlength="8" maxlength="200" required/>
              <label class="active">Contraseña</label>
              <div *ngIf="password.touched && !password.valid">
                <div *ngIf="password.errors.required">Contraseña es requerida</div>
                <div *ngIf="password.errors.minlength">Contraseña debe ser de al menos {{password.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="user.email" #email="ngModel" type="text" name="email" id="email"
                minlength="8" maxlength="200" required/>
              <label class="active">Correo Electrónico</label>
              <div *ngIf="email.touched && !email.valid">
                <div *ngIf="email.errors.required">Correo es requerido</div>
                <div *ngIf="email.errors.minlength">Correo debe ser de al menos {{email.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>
            <div class="input-field col s6">
              <input [(ngModel)]="user.userType" #userType="ngModel" type="text" name="userType" id="userType"
                minlength="1" maxlength="200" required/>
              <label class="active">Tipo Usuario</label>
              <div *ngIf="userType.touched && !userType.valid">
                <div *ngIf="userType.errors.required">Tipo de Usuario es requerido</div>
                <div *ngIf="userToEdit.errors.minlength">Tipo de Usuario debe ser de al menos {{userType.errors.minlength.requiredLength}} caracteres.</div>
              </div>
            </div>

            <button (click)="deleteUser($user, user)" class="btn red right">Borrar
              <i class="material-icons right">delete_forever</i>
            </button>
            <button type="submit" class="btn orange">Actualizar
              <i class="material-icons right">save</i>
            </button>
          </div>
        </form>
      </div>
    </li>
  </ul>
</div>
<ng-template #noUser>
  <hr>
  <h5>NO EXISTEN USUARIOS</h5>
</ng-template>